first/XML/mylang.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATOPEDIA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CAT" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CONTENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="NAME" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="INFO" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="COLOR" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ID" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>